.dark {
  padding: 15px;
  background-color: #35424A;
  color: #FFF;
  margin: 10px 0;
}

aside {
  float: right;
  width: 30%;
  margin-top: 10px;
}

article #mainCol {
  float: left;
  width: 65%;
}

@@media (max-width: 768px) {
  article #mainCol, aside #sidebar {
    float: none;
    text-align: center;
    width: 100%;
  }

  .qoute button {
    display: block;
    width: 100%;
  }
}
